<div class="row">
  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE TEXTO</h2>
    <hr />
    <app-texto></app-texto>
  </div>

  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE NUMEROS</h2>
    <hr />
    <app-numeros></app-numeros>
  </div>

  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE FECHA</h2>
    <hr />
    <app-fecha></app-fecha>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE JSON</h2>
    <hr />
    <app-json></app-json>
  </div>

  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE KeyValue</h2>
    <hr />
    <app-keyvalue></app-keyvalue>
  </div>

  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE SLICE</h2>
    <hr />
    <app-slice></app-slice>
  </div>


  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE i18nSELECT</h2>
    <hr />
    <app-i18nselect></app-i18nselect>
  </div>

  <div class="col-12 col-md-6 p-2">
    <h2>PIPE DE i18nPLURAL</h2>
    <hr />
    <app-i18nplural></app-i18nplural>
  </div>

  <div class="col-12">
    <h2>PIPE DE ASYNC</h2>
    <hr />
    <app-async></app-async>
  </div>
</div>
